<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="gallery-filters">
    <form class="gallery-filters__form" method="get" action="{f:uri.action(action: 'list')}">

        <f:if condition="{years -> f:count()} > 0">
            <div class="gallery-filters__group">
                <label class="gallery-filters__label" for="gallery-filter-year">
                    <f:translate key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:list.filter.year" default="Filter by year" />
                </label>
                <select class="gallery-filters__select" id="gallery-filter-year" name="tx_maigallery_gallerylist[year]" onchange="this.form.submit()">
                    <option value=""><f:translate key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:list.filter.all" default="All" /></option>
                    <f:for each="{years}" as="year">
                        <option value="{year}" {f:if(condition: '{year} == {selectedYear}', then: 'selected="selected"')}>{year}</option>
                    </f:for>
                </select>
            </div>
        </f:if>

        <f:if condition="{categories -> f:count()} > 0">
            <div class="gallery-filters__group">
                <label class="gallery-filters__label" for="gallery-filter-category">
                    <f:translate key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:list.filter.category" default="Filter by category" />
                </label>
                <select class="gallery-filters__select" id="gallery-filter-category" name="tx_maigallery_gallerylist[category]" onchange="this.form.submit()">
                    <option value=""><f:translate key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:list.filter.all" default="All" /></option>
                    <f:for each="{categories}" as="category">
                        <option value="{category.uid}" {f:if(condition: '{category.uid} == {selectedCategory.uid}', then: 'selected="selected"')}>{category.title}</option>
                    </f:for>
                </select>
            </div>
        </f:if>

        <noscript>
            <button class="gallery-filters__submit" type="submit">
                <f:translate key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:list.filter.apply" default="Apply Filter" />
            </button>
        </noscript>

    </form>
</div>
