<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />

    <f:section name="content">
        <div class="tx-gallery tx-gallery--retrospective">
            <h2 class="gallery-retrospective__heading">
                <f:translate
                    key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:retrospective.heading"
                    default="Retrospective"
                />
            </h2>

            <f:if condition="{galleriesByYear -> f:count()} > 0">
                <f:for each="{galleriesByYear}" as="yearGalleries" key="year">
                    <section
                        class="gallery-retrospective__year-section"
                        aria-labelledby="gallery-year-{year}"
                    >
                        <h3
                            class="gallery-retrospective__year-heading"
                            id="gallery-year-{year}"
                        >
                            {year}
                        </h3>

                        <ul class="gallery-retrospective__list" role="list">
                            <f:for each="{yearGalleries}" as="gallery">
                                <li class="gallery-retrospective__item">
                                    <article
                                        class="gallery-retrospective__card"
                                    >
                                        <f:if condition="{gallery.firstMedia}">
                                            <div
                                                class="gallery-retrospective__thumbnail"
                                            >
                                                <f:link.action
                                                    action="show"
                                                    arguments="{gallery: gallery}"
                                                    aria-hidden="true"
                                                    tabindex="-1"
                                                >
                                                    <f:image
                                                        image="{gallery.firstMedia}"
                                                        width="{settings.thumbnailWidth}c"
                                                        height="{settings.thumbnailHeight}c"
                                                        alt="{gallery.firstMedia.alternative}"
                                                        loading="lazy"
                                                    />
                                                </f:link.action>
                                            </div>
                                        </f:if>
                                        <div
                                            class="gallery-retrospective__meta"
                                        >
                                            <h4
                                                class="gallery-retrospective__title"
                                            >
                                                <f:link.action
                                                    action="show"
                                                    arguments="{gallery: gallery}"
                                                >
                                                    {gallery.title}
                                                </f:link.action>
                                            </h4>
                                            <f:if condition="{gallery.date}">
                                                <time
                                                    class="gallery-retrospective__date"
                                                    datetime="{gallery.date -> f:format.date(format: 'Y-m-d')}"
                                                >
                                                    <f:format.date
                                                        date="{gallery.date}"
                                                        format="d. F Y"
                                                    />
                                                </time>
                                            </f:if>
                                            <f:if
                                                condition="{gallery.category}"
                                            >
                                                <span
                                                    class="gallery-retrospective__category"
                                                    >{gallery.category.title}</span
                                                >
                                            </f:if>
                                            <f:if
                                                condition="{gallery.description}"
                                            >
                                                <p
                                                    class="gallery-retrospective__description"
                                                >
                                                    <f:format.cropHtml
                                                        maxCharacters="150"
                                                        append="..."
                                                        >{gallery.description}</f:format.cropHtml
                                                    >
                                                </p>
                                            </f:if>
                                            <span
                                                class="gallery-retrospective__count"
                                            >
                                                {gallery.media -> f:count()}
                                                <f:translate
                                                    key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:list.images.count"
                                                    default="images"
                                                />
                                            </span>
                                        </div>
                                    </article>
                                </li>
                            </f:for>
                        </ul>
                    </section>
                </f:for>
                <f:else>
                    <p class="gallery-empty">
                        <f:translate
                            key="LLL:EXT:mai_gallery/Resources/Private/Language/locallang.xlf:retrospective.empty"
                            default="No galleries available."
                        />
                    </p>
                </f:else>
            </f:if>
        </div>
    </f:section>
</html>
