<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
<div class="tx-gallery tx-gallery--show">

    <nav class="gallery-nav" aria-label="Gallery navigation">
        <f:link.action action="list" class="gallery-nav__back">
            &#8592; <f:translate key="LLL:EXT:gallery/Resources/Private/Language/locallang.xlf:show.back" default="Back to Gallery" />
        </f:link.action>
    </nav>

    <article class="gallery-detail" itemscope itemtype="https://schema.org/ImageGallery">

        <header class="gallery-detail__header">
            <h1 class="gallery-detail__title" itemprop="name">{gallery.title}</h1>
            <f:if condition="{gallery.date}">
                <time class="gallery-detail__date" datetime="{gallery.date -> f:format.date(format: 'Y-m-d')}" itemprop="dateCreated">
                    <f:format.date date="{gallery.date}" format="d. F Y" />
                </time>
            </f:if>
            <f:if condition="{gallery.category}">
                <span class="gallery-detail__category">{gallery.category.title}</span>
            </f:if>
            <f:if condition="{gallery.projectReference}">
                <span class="gallery-detail__project">{gallery.projectReference}</span>
            </f:if>
        </header>

        <f:if condition="{gallery.description}">
            <div class="gallery-detail__description" itemprop="description">
                <f:format.html>{gallery.description}</f:format.html>
            </div>
        </f:if>

        <f:if condition="{gallery.media -> f:count()} > 0">
            <div class="gallery-detail__lightbox">
                <ul class="gallery-lightbox-grid" role="list" aria-label="{gallery.title}">
                    <f:for each="{gallery.media}" as="fileReference" iteration="imageIterator">
                        <li class="gallery-lightbox-grid__item">
                            <f:render partial="Gallery/LightboxImage" arguments="{fileReference: fileReference, gallery: gallery, index: imageIterator.index, settings: settings}" />
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>

    </article>

</div>
</f:section>

</html>
